<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ifam.com.paramaisempreender">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParaMaisEmpreender">
        <activity android:name=".Catalogo_PerfumeActivity"></activity>
        <activity android:name=".ListaCataActivity" />
        <activity android:name=".CatalogosActivity" />
        <activity android:name=".BlocosActivity" />
        <activity android:name=".ListaPActivity" />
        <activity android:name=".Prod_adActivity" />
        <activity android:name=".TelaPActivity" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".EscolherActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>